#u78-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u78-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u78-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u104-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u104-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u104-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u105-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u105-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u105-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u106-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u106-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u106-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u5046
{
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	position: relative;
}

#u4661
{
	vertical-align: top;
	background: url("../images/u4661.png") no-repeat 53px 53px;
	position: relative;
}

#u4661:hover
{
	background: url("../images/u4661-r.png") no-repeat 0px 0px;
}

#u69,#u5048,#u71
{
	border-width: 1px;
	border-style: solid;
	border-color: #000000;
	background-color: #000000;
	position: relative;
}

#u69_align_to_page,#u71_align_to_page
{
	position: relative;
}

#u5171-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u5171-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u5171-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u5172-4
{
	background-color: transparent;
	text-align: center;
	line-height: 36px;
	color: #FFFFFF;
	font-size: 30px;
	position: relative;
}

#u5172-4:hover
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

#u5172-4.MuseLinkActive
{
	background: #000000 url("../images/u78-r-grad.png") repeat-x left top;
	background: -webkit-gradient(linear, center top, center bottom, from(#FFFFFF),color-stop(100%, #000000));
	background: -webkit-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -moz-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -ms-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: -o-linear-gradient(top,#FFFFFF ,#000000 100%);
	background: linear-gradient(to bottom,#FFFFFF ,#000000 100%);
}

